@import url(font-awesome.min.css);

.reference{
  font-size: 1em;
  position:absolute;
  top:0;
  right:0;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1280px) {
  #header {
    background-image: url("images/overlay.png"), url("images/pattern-size2.svg");
  }
}

@media screen and (max-width: 736px) {
  #header {
    background-image: url("images/overlay.png"), url("images/pattern-size3.svg");
  }
  #header h1 {
    font-size: 2em;
  }
  #header p {
    font-size: 1em;
    line-height: inherit;
  }
}

#header {
  background-color: #4696e5;
  color: #d1e5f9;
  padding: 4.5em 0 2.5em 0;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-image: url(images/overlay.png), url(images/pattern-size1.svg);
  background-position: top left, center center;
  background-attachment: fixed, fixed;
  background-size: auto, cover;
  height: auto;
  min-height: 35em;
}




